@import "tailwindcss";
@import "react-circular-progressbar/dist/styles.css";

.custom-scrollbar::-webkit-scrollbar {
	height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #991b1b;
	border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #dc2626;
}
